<!-- Tree -->
<div id="left">

    <md-menu>
        <md-button aria-label="Open phone interactions menu" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="openSkapaMenu($mdOpenMenu, $event)">
            SKAPA
        </md-button>
        <md-menu-content width="4">

            <md-menu-item>
                <md-button ng-click="newFolderModal($event)"><md-icon md-menu-align-target>create_new_folder</md-icon>Mapp</md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Ladda upp filer</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Hämtningsmapp</md-button>
            </md-menu-item>

        </md-menu-content>
    </md-menu>

    <!-- folders tree -->
    <nav class="mdl-navigation" style="min-height: 200px; overflow-y: scroll; margin-top: 10px; max-height: 400px;">
        <ul folders-tree class="root" tree="{{tree}}"></ul>
    </nav>

    <hr style="margin-right: 10px;"/>

    <!-- quota -->

    <span ng-if="quotaUsed">
        Used - {{quotaUsed}} from {{quotaTotal}}
    </span>

    <!-- trash link -->
    <nav class="mdl-navigation" style="margin-left: 20px;">
        <ul class="root">
            <li>
                <a class="mdl-navigation__link">
                    <span class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
                        <i class="material-icons" ng-click="goto('trash');">delete</i>
                    </span>papperskorgen
                </a>
            </li>
        </ul>
    </nav>

</div>

<!-- Folders & files list -->
<section id="right" ng-controller="FilesController" ng-click="hidepopups();">

    <md-progress-linear md-mode="indeterminate" ng-class="{'hidden' : loaded}"></md-progress-linear>

    <div class="tableheader">
        <div class="mdl-grid">

            <!-- Name field -->
            <div ng-if="order=='name'" class="mdl-cell mdl-cell--6-col" style="font-weight: bold;">
                Namn<i class="material-icons" style="font-size: 14pt;" ng-click="sortName();">arrow_downward</i>
            </div>

            <div ng-if="order=='-name'" class="mdl-cell mdl-cell--4-col" style="font-weight: bold;">
                Namn<i class="material-icons" style="font-size: 14pt;" ng-click="sortName();">arrow_upward</i>
            </div>

            <div ng-if="order!='name' && order!='-name'" class="mdl-cell mdl-cell--4-col">
                Namn<i class="material-icons" style="font-size: 14pt;" ng-click="sortName();">arrow_downward</i>
            </div>

            <div class="mdl-cell mdl-cell--2-col">Ägare</div>

            <!-- update date field  -->
            <div ng-if="order=='-_updateDate'" class="mdl-cell mdl-cell--2-col" style="font-weight: bold;">
                Senast ändrad<i class="material-icons" style="font-size: 14pt;" ng-click="sortUpdated();">arrow_downward</i>
            </div>
            <div ng-if="order=='_updateDate'" class="mdl-cell mdl-cell--2-col" style="font-weight: bold;">
                Senast ändrad<i class="material-icons" style="font-size: 14pt;" ng-click="sortUpdated();">arrow_upward</i>
            </div>
            <div ng-if="order!='-_updateDate' && order!='_updateDate'" class="mdl-cell mdl-cell--2-col">
                Senast ändrad<i class="material-icons" style="font-size: 14pt;" ng-click="sortUpdated();">arrow_downward</i>
            </div>

            <div class="mdl-cell mdl-cell--2-col">Filstorlek</div>
        </div>
    </div>

    <div class="tablerow">


        <!-- <md-menu ng-controller="ContextMenuController" ng-repeat="folder in folders | orderBy:order" ng-click="selectFolder(folder)" ng-right-click="menuContextClicked($event);">

            <div class="mdl-grid" >
                <div class="mdl-cell--6-col mdl-cell">
                    <img ng-click="goto(folder.id)" ng-src="{{folder.iconLink}}" />
                    <span>{{folder.name}}</span>
                </div>
                <div class=" mdl-cell--2-col mdl-cell">{{folder.owner}}</div>
                <div class=" mdl-cell--2-col mdl-cell">{{folder.updateDate}}</div>
                <div class=" mdl-cell--2-col mdl-cell">{{folder.size}}</div>
            </div>

            <md-menu-content>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>create_new_folder</md-icon>Create</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>link</md-icon>Link</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>move_to_inbox</md-icon>Move</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>mode_edit</md-icon>Rename</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>file_download</md-icon>Download</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>delete</md-icon>Remove</md-button></md-menu-item>
            </md-menu-content>

        </md-menu>



        <md-menu ng-controller="ContextController" ng-repeat="file in files | orderBy:order" ng-click="selectFolder(folder)" ng-right-click="$mdOpenMenu($event);">

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <img ng-click="" ng-src="{{file.iconLink}}"  />
                    <span >{{file.name}}</span>
                </div>
                <div class="mdl-cell mdl-cell--2-col">{{file.owner}}</div>
                <div class="mdl-cell mdl-cell--2-col">{{file.updateDate}}</div>
                <div class="mdl-cell mdl-cell--2-col">{{file.size}}</div>
            </div>

            <md-menu-content>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>create_new_folder</md-icon>Create</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>link</md-icon>Link</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>move_to_inbox</md-icon>Move</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>mode_edit</md-icon>Rename</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>file_download</md-icon>Download</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>delete</md-icon>Remove</md-button></md-menu-item>
            </md-menu-content>

        </md-menu>-->



        <div ng-controller="ContextController" ng-repeat="folder in folders | orderBy:order" class="mdl-grid" id="{{folder.id}}"  ng-click="selectFolder(folder)" ng-right-click="itemContext($event,folder)">

            <div class="mdl-cell mdl-cell--6-col">
                <img ng-click="goto(folder.id)" ng-src="{{folder.iconLink}}" />
                <span>{{folder.name}}</span></div>
            <div class="mdl-cell mdl-cell--2-col">{{folder.owner}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{folder.updateDate}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{folder.size}}</div>

            <md-menu-content class="context" style="display: none;">
                <md-menu-item><md-button ng-click="showLinkContext(folder)"><md-icon md-menu-align-target>link</md-icon>Link</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>move_to_inbox</md-icon>Move</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>mode_edit</md-icon>Rename</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="deleteFolderContext(folder)"><md-icon md-menu-align-target>delete</md-icon>Remove</md-button></md-menu-item>
            </md-menu-content>

        </div>


        <div ng-controller="ContextController" ng-repeat="file in files | orderBy:order" class="mdl-grid" id="{{file.id}}"  ng-click="selectFile(file)" ng-right-click="itemContext($event,file)">
            <div class="mdl-cell mdl-cell--6-col">
                <img  ng-src="{{file.iconLink}}"  />
                <span >{{file.name}}</span>
            </div>
            <div class="mdl-cell mdl-cell--2-col">{{file.owner}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{file.updateDate}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{file.size}}</div>

            <md-menu-content class="context" style="display: none;">
                <md-menu-item><md-button ng-click="showLinkContext(folder)"><md-icon md-menu-align-target>link</md-icon>Link</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>move_to_inbox</md-icon>Move</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="doSomething()"><md-icon md-menu-align-target>mode_edit</md-icon>Rename</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="downloadFolderContext(folder)"><md-icon md-menu-align-target>file_download</md-icon>Download</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="deleteFolderContext(folder)"><md-icon md-menu-align-target>delete</md-icon>Remove</md-button></md-menu-item>
            </md-menu-content>

        </div>

    </div>

</section>