<div id="left">

    <button id="skapa" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        CREATE
    </button>

    <!-- folders tree -->
    <nav class="mdl-navigation">
        <ul folders-tree class="root" tree="{{tree}}"></ul>
    </nav>
</div>

<!-- Folders & files list -->
<section id="right">

    <md-progress-linear md-mode="indeterminate" ng-class="{'hidden' : $parent.loaded}"></md-progress-linear>

    <div class="tableheader">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">Name</div>
            <div class="mdl-cell mdl-cell--2-col">Owner</div>
            <div class="mdl-cell mdl-cell--2-col">Update date</div>
            <div class="mdl-cell mdl-cell--2-col">Size</div>
        </div>
    </div>

    <div class="tablerow">

        <!-- folders -->
        <div ng-repeat="folder in folders | orderBy:'name'" class="mdl-grid" id="{{folder.id}}" ng-click="selectFolder(folder)">
            <div class="mdl-cell mdl-cell--6-col">
                <img ng-click="goto(folder.id)" ng-src="{{folder.iconLink}}" />
                <span>{{folder.name}}</span></div>
            <div class="mdl-cell mdl-cell--2-col">{{folder.owner}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{folder.updateDate}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{folder.size}}</div>
        </div>

        <!-- files -->
        <div ng-repeat="file in files | orderBy:'name'" class="mdl-grid" id="{{file.id}}" ng-click="selectFile(file)">
            <div class="mdl-cell mdl-cell--6-col">
                <img  ng-src="{{file.iconLink}}"  />
                <span >{{file.name}}</span>
            </div>
            <div class="mdl-cell mdl-cell--2-col">{{file.owner}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{file.updateDate}}</div>
            <div class="mdl-cell mdl-cell--2-col">{{file.size}}</div>
        </div>

    </div>

</section>

