<div class="mdl-layout__header-row">

    <!-- Title -->
    <span class="mdl-layout-title"><strong>FILE MANAGER</strong></span>
    <div class="header-separator"></div>

    <!-- breadcrumbs -->
    <md-menu ng-if="isRoot" ng-controller="FolderModalController">
        <md-button aria-label="" ng-click="$mdOpenMenu($event)">
            Min enhet
            <i class="material-icons">arrow_drop_down</i>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="open()"><md-icon md-menu-align-target>create_new_folder</md-icon>Mapp</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Ladda upp filer</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Hämtningsmapp</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <nav ng-if="isFolder" class="mdl-navigation" ng-repeat="(key, value) in breadcrumbs">
        <i ng-if="key" class="material-icons">keyboard_arrow_right</i>

        <md-button ng-if="key+1!=breadcrumbs.length" ng-click="goto(value.id)">
            {{value.name}}
        </md-button>

        <!-- Drop down menu for last item -->
        <md-menu ng-if="key+1==breadcrumbs.length" ng-controller="FolderModalController">
            <md-button aria-label="" ng-click="$mdOpenMenu($event)">
                {{value.name}}
                <i class="material-icons">arrow_drop_down</i>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="open()"><md-icon md-menu-align-target>create_new_folder</md-icon>Mapp</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Ladda upp filer</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Hämtningsmapp</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </nav>

    <nav ng-if="isTrash" class="mdl-navigation">
        <i ng-if="key" class="material-icons">keyboard_arrow_right</i>
        <md-button>Trash</md-button>
    </nav>

    <div class="mdl-layout-spacer"></div>

    <!-- Navigation -->
    <nav class="mdl-navigation" ng-if="selected">
        <button class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
            <i class="material-icons" ng-click="link.open($event)">link</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
            <i class="material-icons" ng-click="permissions.open($event)">person_add</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
            <i class="material-icons" ng-click="delete($event)">delete</i>
        </button>

        <md-menu>
            <md-button ng-click="openMenu($mdOpenMenu, $event)"><md-icon md-menu-align-target>more_vert</md-icon></md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="skapa($event)"><md-icon md-menu-align-target>create_new_folder</md-icon>Move</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)"><md-icon md-menu-align-target>file_upload</md-icon>Rename</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </nav>

    <div class="vertical-separator"></div>

    <!-- Logout -->
    <button class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
        <i class="material-icons">info_outline</i>
    </button>

</div>